/* 
   font-family: 'Fira Sans', sans-serif; 
*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: #34495e;
   color: white;
   font-size: 16px;
   font-family: 'Fira Sans', sans-serif; 
}

.wrapper{
   height: 100vh;
   display: grid;
   justify-items: center;
   grid-template-rows: auto repeat(6, 124px) auto;
   grid-template-areas: 
      "."
      "details"
      "cinema"
      "cinema"
      "cinema"
      "cinema"
      "reset"
      ".";
}

.movie-details-container {
   grid-area: details;
   align-self: end;
}

.menu-container {
   text-align: center;
}

.menu-container select {
   width: 320px;
   height: 30px;
   background-color: white;
   color: #34495e;
   font-size: 16px;
   border: 0;
   border-radius: 5px;
   margin-left: 4px;
   appearance: none;
   -webkit-appearance: none;
   text-align-last: center;
}

.legend-container {
   height: 40px;
   list-style-type: none;
   display: flex;
   justify-content: space-between;
   background-color: rgba(0,0,0,0.1);
   margin-top: 20px;
   border-radius: 8px;
}

.legend-container li {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
}

.legend-container li span {
   margin: 4px;
}

.cinema-container {
   grid-area: cinema;
   align-items: center;
}

.canvas {
   width: 460px;
   height: 110px;
   background-color: white;
   transform: perspective(800px) rotateX(-35deg);
   box-shadow: 0 3px 10px rgba(255, 255 , 255, 0.7);
   margin-top: 10px;
}

.seats {
   display: grid;
   grid-template-columns: repeat(3, 30px) 50px repeat(7, 30px) 50px repeat(2, 30px);
   margin-top: 10px;
   
}

.available-seat {
   background-color: #35ac49;
   width: 20px;
   height: 20px;
   margin: 5px;
   justify-self: end;
}

.available-seat.selected {
   background-color: #f58220;
}

.available-seat.occupied {
   background-color: #737373;
}

.seats .available-seat:hover {
   cursor: pointer;
   transform: scale(1.2);
}

.seats .available-seat.occupied:hover {
   cursor: default;
   transform: scale(1);
}

.price-reset-container p {
   margin-top: 20px;
}

.price-reset-container span {
   color: #6feaf6;
}

div.reset {
   width: 70px;
   line-height: 30px;
   background-color: white;
   color: #34495e;
   border-radius: 5px;
   text-align: center;
   vertical-align: middle;
   margin: 25px auto 0 auto;
}

div.reset:hover {
   background-color: #d6dbdf;
   cursor: pointer;
   transform: scale(1.2);
}

.price-reset-container {
   grid-area: reset;
}